<script type="text/javascript">
    function openModal() {
        let modalTrigger = document.querySelectorAll('.modal-trigger');
        
        modalTrigger.forEach(function(trigger) {
          trigger.addEventListener('click', function(event) {
      
            // remove "#" from #modal
            const target = this.getAttribute('alt').substr(1);
            
            // use dynamic target to reference given modal
            const modalWindow = document.getElementById(target);
            
            if(modalWindow.classList) {
              modalWindow.classList.add('open');
            }
      
            event.preventDefault();
          });
        });
      }
      
      function closeModal() {
        let closeBtns = document.querySelectorAll('.close');
        let okBtns = document.querySelectorAll('.ok');
      
        closeBtns.forEach(function(btn) {
          btn.addEventListener('click', function(event) {
            
            // target the whole modal
            const modalWindow = this.parentNode.parentNode.parentNode;
            
            modalWindow.classList.remove('open');
          });
        });
      
        okBtns.forEach(function(btn) {
          btn.addEventListener('click', function(event) {
            
            // target the whole modal
            const modalWindow = this.parentNode.parentNode.parentNode;
            
            modalWindow.classList.remove('open');
          });
        });
      } 
      function fireWhenReady(func) {
        document.addEventListener('DOMContentLoaded', func);
      }
      
      fireWhenReady(openModal);
      fireWhenReady(closeModal);
      


</script>

<div class="main-post-list" id={{ include.elID }}>
    <h2 class="Page">About Me</h2>
    <div class="page-contents">

        <p>As a professional Data Scientist, I pride myself on devising novel uses of data to generate insight. I recently received my M.S. in Analytics from Georgia Institute of Techonology after seven years consulting in workforce analytics and cloud integrations,
            primarily with Deloitte. I am a life-long learner and continue to take classes on computing, AI, and advanced mathematics during my spare time. I am also currently serving as an alumni advisor to the Georgia Tech <a href="https://www.robocup.org/leagues/7">Robocup</a>            team, which I had the priviledge of being a part of while pursuing my M.S.</p>

        <img src="{{ site.baseurl }}/images/LeoPup.jpg" class="inpage_circle_right"> 

        <p>At a personal level, I am a math and computing enthusiast, tinkerer, and general purpose nerd. I spent my childhood on the math team, received my B.S. in Applied Mathematics from Georgia Tech in 2010, and continue to enjoy discussing mathematics
            over a drink when a colleague or friend is willing (especially when it's focused on graph theory or machine learning). </p>

        <p> <img src="{{ site.baseurl }}/images/stars.png" class="inpage_left"> I've been skiing since I was four, and it remains my favorite winter activity, particularly at Whistler/Blackcomb. However, having moved back to the southeast it may be some time before
            I'm able to return. I also play inline and ice hockey on the weekends (quite poorly) and am an avid Dallas Stars fan. You can often catch my dog, Leopold the Great (Pyrenees), and I on the couch watching hockey, while I rub his belly. You
            can see Leo's beautiful face pictured above, and you can also follow him on <a href="#about" class="modal-trigger" alt="#openModal">Instagram</a>.</p>

    </div>

    <div id="openModal" class="modalWindow">
        <div>
            <div class="modalHeader">
                <h2>Really? That was a joke.</h2>
                <a href="#about" title="Close" class="close">X</a>
            </div>

            <div class="modalContent">
                <p>Leopold and I appreciate that you want to see more photos of him. However, as an adult, I do not have social media for my dog.</p>
            </div>

            <div class="modalFooter">
                <a href="#about" class="ok">Oh, I see...</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>

</div>