<div class="main-post-list" id={{ include.elID }}>
    <h2 class="Page">About Me</h2>
    <div class="page-contents">

        <p>I received my B.S. in Applied Mathematics from Georgia Tech in 2010.  After that I spent seven years consulting in workforce analytics and cloud integrations.
            After discovering a renewed passing for computers and mathematics, I left to pursue my M.S. in Analytics full-time.
            My focus areas are machine learning methods and bayesian statistics, and I will be highlighting some of that work on the blog in the months to come.</p>

        <p>While pursuing my degree I am also a member of the Georgia Tech <a href="https://www.robocup.org/leagues/7">Robocup</a> Team.
           This has been a great opportunity to tackle larger programming problems that require integrating several languages in a large codebase.
           Working with a number of very intelligent students in software, mechanical, and electrical engineering has been a much appreciated chance to broaden my understanding of machines and improve my skills as a maker while working on problems in computer vision, AI, robotics, and multi-agent collaboration.  </p>

        <p> <img src="{{ site.baseurl }}/images/stars.png" class="inpage">
            Some of my personal interests include computers or rPi/Arduino, I love tinkering with electronics in my space time.  I've been skiing since I was four, and it remains my favorite winter vacation.
            My favorite mountain is Whistler/Blackcomb, but having moved back to the southeast it may be some time before I'm able to get back there.
            I also play inline and ice hockey on the weekends and am an avid Dallas Stars fan.  You can usually catch my dog, Leopold the Great (Pyrenees), and I on the couch watching hockey, while I rub his belly.</p>

    </div>
</div>